*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    overflow: hidden;
}

.sidebar{
    width: 20vw;
    border-right: 0.5px solid black;
    height: 100vh;
    overflow: none;
    /*display: flex;*/
}

.main{
    height: 100vh;
    overflow-x: none;
    overflow-y: scroll;
    width: 80vw;
}

#brand-logo{
    width: 10vw;
    padding: 5px;
    margin: 10px 5px 30px 5px;
    max-width: 500px;
    box-sizing: border-box;
}

.sidebar-item{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.sidebar-item > p {
    padding: 5px;
    margin-top: 5px;
    margin-left: 20px;
}

.fa-solid{
    font-size: 25px;
    padding: 5px;
}